#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.badge-success {
    background-color: #873600;
}

.btn-oke{
    color: white;
    background-color: #a04000;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 15px;
  }

.card-product{
    border-radius: 15px;
}

.card-img-top{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item.active{
    font-weight: bold;
    color: black;
}

.img-fluid {
    border-radius: 15px;
}